nav {
    width: 100vw;
    background-color: #78b7d0;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    color: #16325b;
}

nav h1 {
    font-size: 3rem;
}

menu {
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

.menuLi {
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}