* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100vw;
    background-color: #78b7d0;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    color: #16325b;
}

menu {
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    text-decoration: none;
}